@font-face {
  font-family: 'NationalForestRegular';
  src: local('NationalForestRegular'), url(../public/fonts/NationalForestRegular.woff2) format('woff2');
}

@font-face {
  font-family: 'OverpassBold';
  src: local('OverpassBold'), url(../public/fonts/OverpassBold.woff2) format('woff2');
}

.app{
  position: relative;
}