.infoBox {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 10px;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 9999;
}

.infoBox > img {
    display: none;
}

.inner-infobox h3:first-of-type {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0 12px;
    height: 39px;
    align-self: center;
    border-radius: 5px 0 0 5px;
    width: 100%;
    background-color: #00abad;
}

.inner-infobox h3 span {
}
.inner-infobox button {
    background-color: #00abad;
    color: #fff;
    border: none;
    cursor: pointer;
}

.inner-infobox button.like-button {
    background-color: #00abad;
    color: #fff;
    border-radius: 0;
    height: 2.36em;
    font-size: 1.5em;
}

.inner-infobox button.like-button:hover {
    background-color: #dfa32e;
}

.inner-infobox button:not(.like-button) {
    padding: 19.5px;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
}
